<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Hostel"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Hostel"
        tools:targetApi="31">
        <activity
            android:name=".cleaning"
            android:exported="false" />
        <activity
            android:name=".laundry"
            android:exported="false" />
        <activity
            android:name=".header_layout"
            android:exported="false" />
        <activity
            android:name=".faq"
            android:exported="false" />
        <activity
            android:name=".monbreakfast"
            android:exported="false" />
        <activity
            android:name=".Meals"
            android:exported="false" />
        <activity
            android:name=".clothes"
            android:exported="false" />
        <activity
            android:name=".clean"
            android:exported="false" />
        <activity
            android:name=".food"
            android:exported="false" />
        <activity
            android:name=".content"
            android:exported="false" />
        <activity
            android:name=".splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".new_acc"
            android:exported="false" />
    </application>

</manifest>